In [1]:
import pandas as pd

In [6]:
df = pd.read_csv(r"C:\Users\User\hh_data_project\data\raw\vacancies.csv")
df.head()

,title,company,location,salary,description,link
0,Junior HFT Quant Trader / Data Scientist Orion...,ООО НОВОТЕХ,"Москва, Сокольническая линия, метро Кропоткинская",Не указано,Tasks:\nOur team develops quantitative strateg...,https://almaty.hh.kz/vacancy/119335326?query=D...
1,Junior Data Scientist/Data Scientist,Nazarbayev University,Не указано,Не указано,Company Description\n\nInstitute of Smart Syst...,https://almaty.hh.kz/vacancy/119265661?query=D...
2,Junior ML Engineer / Data scientist (Младший с...,Инфосистемы Джет,"Москва, Савёловская, Большая Новодмитровская, ...",Не указано,"""Инфосистемы Джет"" — инновационная ИТ-компания...",https://almaty.hh.kz/vacancy/119382231?query=D...
3,Data Scientist,ЕВРОПЕЙСКИЙ МЕДИЦИНСКИЙ ЦЕНТР,"Москва, Проспект Мира, Проспект Мира, Сухаревс...",Не указано,Сейчас мы находимся в поисках коллеги на позиц...,https://almaty.hh.kz/vacancy/119271400?query=D...
4,Data Scientist (Junior),Агентство страховых технологий,Не указано,Не указано,Ищем начинающего Data Scientist’а в аккредитов...,https://almaty.hh.kz/vacancy/118785636?query=D...

In [22]:
df['title'].str.lower().value_counts()

title
data scientist                                                                                     16
специалист по валидации моделей (junior data scientist) управления модельных рисков и валидации     2
аналитик данных                                                                                     2
middle data scientist                                                                               2
junior data scientist                                                                               2
                                                                                                   ..
data scientist (стажер), владивосток                                                                1
data scientist/разработчик машинного обучения (ml, nlp, llm) middle                                 1
middle data scientist (кредитно-платежные продукты)                                                 1
middle data scientist (лидогенерация)                                                               1
tl data scientist                                                                                   1
Name: count, Length: 81, dtype: int64