In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('C:/Users/User/hh_data_project/data/processed/vacancies_clean_2025-04-18.csv')
df.head()

,title,company,location,salary,description,experience,employment_type,schedule,working_hours,work_format,link,published_date,skills,published_date_dt
0,Data Analyst,ТОО Autodoc Group (Автодок Казахстан),"Алматы, улица Султанбека Ходжанова, 2/2",Не указано,AUTODOC is the largest and fastest growing aut...,3–6 лет,Полная занятость,График: 5/2,Рабочие часы: 8,Формат работы: гибрид,https://almaty.hh.kz/vacancy/116520776?query=D...,16 апреля 2025,Не указано,2025-04-16
1,Middle Data Scientist,ТОО Мобайл Телеком-Сервис (Объединенная Компан...,Не указано,Не указано,Мы ищем опытного специалиста по анализу данных...,3–6 лет,Полная занятость,График: 5/2,Рабочие часы: 8,Не указано,https://almaty.hh.kz/vacancy/119586627?query=D...,16 апреля 2025,Не указано,2025-04-16
2,Data scientist,АО Страховая компания Freedom Insurance,Не указано,Не указано,"Пройдемся по основным задачам:\n\nСбор, обрабо...",3–6 лет,Полная занятость,График: 5/2,Рабочие часы: 8,Не указано,https://almaty.hh.kz/vacancy/119593278?query=D...,16 апреля 2025,Не указано,2025-04-16

In [7]:
df.isnull().sum()

title                0
company              0
location             0
salary               0
description          0
experience           0
employment_type      0
schedule             0
working_hours        0
work_format          0
link                 0
published_date       0
skills               0
published_date_dt    0
dtype: int64

In [8]:
df['skills'].value_counts().sort_values(ascending=False).head(20)

skills
Не указано    3
Name: count, dtype: int64